<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909579456507-pbnvqtttkr33pml8ercpj0s3eohatdcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909579456507-pbnvqtttkr33pml8ercpj0s3eohatdcb</string>
	<key>API_KEY</key>
	<string>AIzaSyD5egHnwqbjGM6D5P8bfuCTuJ7jJ0qLbvM</string>
	<key>GCM_SENDER_ID</key>
	<string>909579456507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basicmusic.appstore</string>
	<key>PROJECT_ID</key>
	<string>basicmusic-65fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>basicmusic-65fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909579456507:ios:e2456e13afed505b98c55e</string>
</dict>
</plist>